#splash_login__btn, #splash_signup__btn {
    margin: 20px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: #050424    ;
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #161385;
    color: white;
    font-size: 2rem;
}

#splash_login__btn:hover, #splash_signup__btn:hover {
    background-color: #180437;
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #2c0863;

}