.card_front__wrapper, .card_back__wrapper {
    display: flex;
    /* justify-content: space-around; */
    height: 400px;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.card_front__body, .card_back__body {
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-size: 2rem;
    height: 300px;
    overflow: auto;
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.front_btn, .back_btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
    margin-top: 40px;
    margin-right: 15px;
}

.light {
    background-color: white;
    color: #181a1b;
}

.dark {
    background-color: #181a1b;
    color: white;
}

.btns_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit_and_delete__btn, .save_and_delete__btn {
    background: none;
    font-size: 2.5rem;
}

.editing_btns {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.label {
    font-size: 1.5rem;
    margin: 0;
}
