.card_front__wrapper, .card_back__wrapper {
    display: flex;
    height: 400px;
    width: 90%;
    margin: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #13011B;

}

.card_front__body, .card_back__body {
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-size: 2rem;
    height: 300px;
    overflow: auto;
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.front_btn, .back_btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
    margin-top: 40px;
    margin-right: 15px;
}

.front_btn:hover, .back_btn:hover {
    color: rgb(173, 125, 173);
}

.light {
    background-color: #ffffff;
    color: #181a1b;
}

.dark {
    background-color: #181a1b;
    color: white;
}

#title_div {
    display: flex;
    justify-content: space-evenly;
}

.btns_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit_and_delete__btn, .save_and_delete__btn {
    background: none;
    font-size: 2.5rem;
}

.edit_and_delete__btn:hover, .save_and_delete__btn:hover {
    color: rgb(173, 125, 173);
}

.editing_btns {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.label {
    font-size: 1.5rem;
    margin: 0;
}

#body_wrapper {
    width: 100%;
}
