#profile_header {
    color: white;
}

.content_wrapper {
    grid-area: body;
    position: relative;
    top: -50px;
    /* background-color: rgba(19, 1, 27, .5); */
    background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 300px auto;
    grid-template-areas:
    'contenthead contenthead'
    'notebooks decks'
    'reminders reminders';
    border-radius: 10px;
}


.profile_h1 {
    grid-area: contenthead;
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.notebook_wrapper, .deck_wrapper, .reminders_wrapper {
    background: rgb(233, 232, 233);
    margin: 15px;
    padding: 15px;
    height: 200px;
}

#placeholder {
    width: 3px;
}

.deck_item, .notebook_item {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.notebook_h2, .deck_h2, .reminders_h2 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.notebook_wrapper {
    grid-area: notebooks;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.deck_wrapper {
    grid-area: decks;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

}

.deck_list, .notebook_list, .reminders_list {
    background: white;
    margin: 10px;
    height: 120px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.reminders_list {
    height: 125px;
    padding: 15px;
    width: 55%;
    overflow: hidden;
}

.profile_text {
    font-size: 1.12rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 3px 3px;
    width: 100%
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color:rgb(155, 104, 168);
}

.img {
    width: 400px;
}

.profile_header {
    /* font-size: 1.2em; */
    font-weight: bold;
    color: white;

}

#profile_wrapper {
    min-height: 93vh;
    width: 95vw;
    max-width: 1200px;
    background-color: rgb(2, 2, 22);
    margin: auto;
    overflow-y: auto;
    position: relative;
    margin-top: .5%;
    display: grid;
    grid-template-rows: 420px auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas:
    'header header'
    'body body';
}

#user_share__wrapper {
    grid-area: ushare;
}

#friends_share__wrapper {
    grid-area: fshare;
}

#friends_wrapper {
    grid-area: friends;
}

#header_wrapper {
    grid-area: header;
    height: fit-content;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
   width: 400px; 
   position: relative;
}

#theme_wrapper {
    margin-bottom: 100px;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0;
}

.radio_label {
    color: white;
    font-size: 1.5rem;
}

#friends_wrapper {
    margin: 20px;
    height: 500px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'fhead fhead fhead search'
    'accepted pending incoming search';
    padding: 15px;
}

.light {
    background-color: #ffffffe1;
    color: black;
}

.dark {
    background-color: #181a1b;
    color: white;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 420px;
}


.friends_header {
    grid-area: fhead;
    margin-top: 0;
}

.accepted_wrapper {
    grid-area: accepted;
}

.pending_wrapper {
    grid-area: pending;
}

.incoming_wrapper {
    grid-area: incoming;
}

.search_wrapper {
    grid-area: search;
}

.reminders_wrapper {
    grid-area: reminders;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 40px;
}