#deck_wrapper {
    height: fit-content;
    min-height: 93vh;
    width: 95vw;
    max-width: 1200px;
    background-color: rgba(2, 2, 17, 1);
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-top: .5%;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr, 5fr 1fr;
    grid-template-areas:
    'header'
    'body'
    'footer';
}

#create_btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.edit_and_delete__btn {
    background: none;
    font-size: 3rem;
    color: white;
}

#header {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    border-bottom: 3px solid #dddddd;
}

.card_container {
    height: 500px;
    width: 700px;
    background-color: white;
}

.slideshow {
    width: 80%;
    background:transparent url(https://i.ibb.co/b7NqqXL/Soft-clouds-of-colorful-smoke-dark-abstract-background.jpg) repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #161385;
    border-radius: 5px;
}

.radio_label {
    color: white;
    font-size: 1.5em;
}

.create_btn {
    background: none;
    color: white;
    font-size: 3rem;
}

#card_count {
    font-size: 1.5em;
    color: white;
    margin: 0;
    margin-top: 5px;
    white-space: nowrap;
    width: 100%;
    margin-left: 50px;
    text-align: center;
}

.iframe {
    margin-top: 25px;
}

#shader {
    background-color: rgba(0,0,0, .75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#beats {
    margin: 10px;
}

#theme_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

#deck_header__div {
    grid-area: header;
}

#body {
    position: relative;
    height: 100%;
    width: 1175px;
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#above_card {
    width: 80%;
    display: flex;
}

#create_form__wrapper {
    display: flex;
    align-items: flex-end;
}

.add_card_label {
    color: white;
    font-size: 1.5em;
    white-space: nowrap;

}

.add_card {
    display: flex;
    background: none;
    color: white;
    font-size: 1.3rem;
    
}

