.deck_menu__container {
    position: relative;
}

.deck_menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 1;
}

.deck_menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    overflow-y: auto;
    max-height: 500px;
}

.deck_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dddddd;
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}

.deck_menu__trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
}

.deck_menu__trigger:hover {
    background-color: rgb(155, 104, 168);
    color: white;
    box-shadow: 0 1px 8px 5px rgba(255, 255, 255, 0.3);
}

.deck_menu__trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
}

.add_deck {
    background: none;
    font-size: 1.1rem;
}

.add_deck:hover {
    color: rgb(155, 104, 168);
}

.form__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.deck_nav:hover {
    color: rgb(155, 104, 168); 
}