#card_body {
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-size: 2rem;
    height: 300px;
    width: 750px;
    overflow: auto;
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.card_form__btn {
    background: none;
    font-size: 2.5rem;
}

.card_form__btn:hover {
    color: rgb(173, 125, 173);
}

.card_btns__container {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#form_container {
    display: flex;
    flex-direction: column;
}

#card_front__form, #card_back__form {
    display: flex;
    width: 100%;
    height: 100%;
}

.error {
    color: red;
    text-decoration: none;
}

.light {
    background-color: white;
    color: #181a1b;
}

.dark {
    background-color: #181a1b;
    color: white;
}