#nav {
    background: linear-gradient(0.25turn, #020211, #13011B);
    height: 50px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

#logo_div {
    height: 50px;
    width: 50px;
}

#logo {
    height: 100%;
    width: 100%;
}

.navlink {
    background: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: .9rem;
    color: black;
    text-decoration: none;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    padding: 0 15px;
    height: 25px;
    box-sizing: border-box;

}

.navlink:hover {
    background-color: rgb(175, 104, 175);
    color: white;
    box-shadow: 0 1px 8px 5px rgba(255, 255, 255, 0.3);
}

.logout:hover {
    background-color: rgba(151, 67, 67, 0.733);
    color: white;
}

/* .nav_active {
    color: white;
} */

.notebook_container {
    height: fit-content;
    width: 200px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#notebook_div {
    position: inherit;
    top: 50px;
}