.notebook_menu__container {
    position: relative;
    
}

.notebook_menu {
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 1;
    padding: 5px;
    overflow-y: auto;


}

.notebook_menu.active {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    max-height: 500px;
}

.notebook_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 2px;
    width: fit-content;
}

.note_nav {
    border-bottom: 1px solid #dddddd;
    padding: 5px;
}

.note_nav {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}

.notebook_menu__trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
}

.notebook_menu__trigger:hover {
    background-color: rgb(173, 125, 173);
    box-shadow: 0 1px 8px 5px rgba(255, 255, 255, 0.3);
}

.notebook_menu__trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
}

.notebook_title {
    font-size: 18px;
    font-weight: 700;

}

.notebook_container {
    display: flex;

}

.add_note, .delete_notebook, .add_notebook, .edit_notebook {
    background: none;
    text-decoration: none;
    font-size: .9rem;
}

.notes_container {
    overflow-y: auto;
    height: 100px;
}

.form__wrapper {
    display: flex;
    justify-content: center;
}

.close {
    background: none;
}
