.note_wrapper {
    height: fit-content;
    min-height: 93vh;
    width: 95vw;
    max-width: 1200px;
    background-color: rgba(2, 2, 17, 1);
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-top: .5%;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 100px 3fr;
    grid-template-columns: 1fr, 5fr;
    grid-template-areas:
    'sidebar header'
    'sidebar editor';
    
}

.note_link__wrapper {
    width: fit-content;
}

#note_page__header {
    color: white;
    margin: 0;
    margin-bottom: 2px;
    font-size: 2.7rem;
}

#note_sidebar {
    grid-area: sidebar;
    background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
    height: 100%;
    width: 100%;
    max-width: 240px;
    min-width: 240px;
    overflow-x: auto;
    border-radius: 5px;
}

#note_header__div {
    grid-area: header;
    /* background-color: rgba(2, 2, 17, 1); */

    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: flex-end;
    font-size: 3rem;
}


#editor_container {
    grid-area: editor;
    height: 100%;
    width: 875px;
    padding: 3px;
    box-shadow: .5px .5px 0.625rem -2px black;
}

#share_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.dark {
    background-color: #181a1b
}

.light {
    background-color: #ffffff;
}

#note_contents {
    color: white;
}

.edit_and_delete {
    background: none;
    color: white;
    font-size: 2.5rem;
}

.edit_and_delete:hover {
    color: rgb(175, 104, 175);   
}

.radio_label {
    font-size: 1.5rem;
    color: white;
}

.radio_label:hover {
    color: rgb(175, 104, 175); 
}

.error {
    color: red;
}

#note_sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    overflow-y: auto;
}

#sidebar_header {
    color: white;
    font-size: 2rem;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    width: 90%;
    text-align: center;
}

.note_link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.note_link:hover {
    color: rgb(175, 104, 175); 
}

#logo_div {
    grid-area: logo;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    top: 0;
}

#logo {
    width: 100%;
    height: 100%;
}

.btn_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 85px;

}

.edit_note__title {
    background: none;
    color: white;
    font-size: 2rem;
}

.edit_note__title:hover {
    color: rgb(175, 104, 175); 
}

#header_container {
    display: flex;
    align-items: flex-end;

}

.sticky {
    position: fixed;
    top: 200px;
}

.add_note {
    background: none;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.add_note:hover {
    color: rgb(175, 104, 175);  
}

.form__wrapper {
    display: flex;
    background-color: #ffffffe1;
    border-radius: 3px;
    padding: 1px;
    justify-content: center;
}

.close {
    background: none;
}

.close:hover {
    color: rgb(175, 104, 175);  
}

.note_body {
    display: none;
}

#theme_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}