<<<<<<< HEAD
#profile_header {
    color: white;
}

#profile_wrapper {
    height: 93vh;
    width: 95vw;
    max-width: 1200px;
    background-color: rgba(2, 2, 17, 1);
    margin: auto;
    overflow-y: auto;
    position: relative;
    margin-top: .5%;
    display: grid;
    grid-template-rows: 75px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas:
    'header header'
    'friends friends'
    'fshare ushare';
}

.classmate_wrapper {
    box-sizing: border-box;
    background: white;
    min-height: 170px;
    max-height: 170px;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 3px;
}

#user_share__wrapper {
    grid-area: ushare;
}

#friends_share__wrapper {
    grid-area: fshare;
}

#friends_wrapper {
    grid-area: friends;
}

#header_wrapper {
    grid-area: header;
}


#friends_wrapper {
    background-color: #181a1b;
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
    'fhead fhead fhead fhead'
    'incoming accepted accepted search'
    'pending accepted accepted search';
    padding: 15px;
}

<<<<<<< HEAD
.light {
    background-color: #ffffffe1;
    color: black;
}

.dark {
    background-color: #181a1b;
    color: white;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 420px;
}

#friends_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    width: 93%;
    height: 98%;
    padding: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;

}

.accepted_li {
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    width: 45%;
    margin-top: 3px;
}

.friends_header__div {
=======
.friends_header {
>>>>>>> parent of c8ad10d... bug fixes and style fixes
    grid-area: fhead;
    background: #181a1b;
    margin: 3px 4px;
    
}

.friends_header {
    margin: 0;
    font-size: 2rem;
    width: 100%;
    color: white;
    text-align: center;
}

.friends_search__header {
    color: black;
}

.inner_text {
    margin: 0;
}

.small_header {
    font-size: 1.5rem;
    color: white;
    margin: 3px 0;
}

.none {
    background:white;
    height: 75%;
    border-radius: 3px;
    padding: 7px;

}

.search_input {
    width: 100%;
}

.search_wrapper {
    margin: 0 3px;
}

.accepted_wrapper, .pending_wrapper, .incoming_wrapper {
    margin: 0 3px;
    padding: 10px;
    border-radius: 3px;
}

.accepted_wrapper {
    grid-area: accepted;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #181a1b;
}

.pending_wrapper {
    grid-area: pending;
    background: #181a1b;
    min-height: 205px;
    max-height: 205px;
}

.incoming_wrapper {
    margin-bottom: 2px;
    grid-area: incoming;
    background: #181a1b;
    min-height: 205px;
    max-height: 205px;
}

.search_wrapper {
    grid-area: search;
}

.classmate_container {
    display: flex;
}

.remove_friend {
    color: black;
    background: none;
    font-size: 1.5rem;
    margin: 0 2px;
}

.remove_friend:hover {
    color: rgb(173, 125, 173);
=======
#profile_header {
    color: white;
}

#profile_wrapper {
    min-height: 93vh;
    width: 95vw;
    max-width: 1200px;
    background-color: rgba(2, 2, 17, 1);
    margin: auto;
    overflow-y: auto;
    position: relative;
    margin-top: .5%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas:
    'header header'
    'friends friends'
    'fshare ushare';

}

#user_share__wrapper {
    grid-area: ushare;
}

#friends_share__wrapper {
    grid-area: fshare;
}

#friends_wrapper {
    grid-area: friends;
}

#header_wrapper {
    grid-area: header;
    height: fit-content;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
   width: 400px; 
   position: relative;
}

#theme_wrapper {
    margin-bottom: 100px;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0;
}

.radio_label {
    color: white;
    font-size: 1.5rem;
}

#friends_wrapper {
    margin: 20px;
    height: 500px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'fhead fhead fhead search'
    'accepted pending incoming search';
    padding: 15px;
}

.light {
    background-color: #ffffffe1;
    color: black;
}

.dark {
    background-color: #181a1b;
    color: white;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 420px;
}


.friends_header {
    grid-area: fhead;
    margin-top: 0;
}

.accepted_wrapper {
    grid-area: accepted;
}

.pending_wrapper {
    grid-area: pending;
}

.incoming_wrapper {
    grid-area: incoming;
}

.search_wrapper {
    grid-area: search;
>>>>>>> parent of f1895e1... not finished, reverting main
}