.search_wrapper {
    width: 100%;  
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border-radius: 5px;
}

.search_input {
    width: 286px;
    font-size: 1.3rem;
    position: fixed;
}

.search_ul {
    margin: 0;
    margin-top: 15px;
}

.search_result {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.search_btns {
    background: none;
    font-size: 1.4rem;
    color: black;
}

.username {
    color: black;
    font-size: 1.3rem;
}