.search_wrapper {
<<<<<<< HEAD
    min-width: 325px;
    max-width: 325px;  
    max-height: 300px;
=======
    width: 100%;  
    max-height: 190px;
>>>>>>> parent of c8ad10d... bug fixes and style fixes
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border-radius: 5px;
}

.search_input {
    min-width: 320px;
    max-width: 320px;
    font-size: 1.3rem;
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    /* position: fixed; */
=======
    position: fixed;
>>>>>>> parent of c8ad10d... bug fixes and style fixes
}

.search_ul {
    margin: 0;
<<<<<<< HEAD
    height: fit-content;
    max-width: 295px;
    min-width: 295px;
    /* padding: 0; */
=======
    margin-top: 15px;
>>>>>>> parent of c8ad10d... bug fixes and style fixes
}

.search_result {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}



.search_btns {
    background: none;
    font-size: 1.4rem;
    color: black;
}

.search_btns:hover {
    color: rgb(173, 125, 173);
}

.username {
    color: black;
    font-size: 1.3rem;
}

.search_results {
    min-width: 305px;
}

.error {
    list-style: none;
    color: red;
    width: 100%;
    text-align: center;
}