#signup_form {
    background:  url(https://i.ibb.co/b7NqqXL/Soft-clouds-of-colorful-smoke-dark-abstract-background.jpg) repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: fit-content;
    width: 500px;
    padding: 1px;
    border-radius: 7px;
}

#signup_header__div {
    width: 100%;
    height: fit-content;
}

#signup_header {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

.signup_label {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    width: 100%;
    margin-right: 10px;
}

#signup_content__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    position: relative;
    z-index: 1;
    border-radius: 7px;
}

#signup_inputs__container {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.signup_input__div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

#signup_buttons__div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.signup_input {
    margin-left: 5px;
}

.signup_btns {
    margin: 20px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    background-color: #050424    ;
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #161385;
    color: white;
    font-size: 2rem;
}

.signup_btns:hover {
    background-color: rgb(155, 104, 168);
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #2c0863;
}

#signup_errors {
    width: fit-content;
    height: 100%;
    margin: auto;
    margin-left: 7%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.error {
    color: red;
}

.signup_organize_div {
    width: 100%;
    display: flex;

}