#splash_center {
    color: white;
    font-size: 3rem;
    height: 450px;
    width: 700px;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.splash_container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 300px;
}

.splash_p {
    font-size: 1.5rem;
}

#splash_content {
    display: flex;
}

#splash_p__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#auth_btns {
    display: flex;
    justify-content: space-around;
}

#splash_login__btn, #splash_signup__btn {
    margin: 20px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: #050424    ;
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #161385;
    color: white;
    font-size: 2rem;
}

#splash_signup__btn:hover {
    background-color: rgb(173, 125, 173); 
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #2c0863;
}

#splash_login__btn:hover {
    background-color: rgb(173, 125, 173); 
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #2c0863;

}