body {
    z-index: 0;
}

* {
  font-family: Montserrat;
}

#root {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

button {
  background-color: #C1BDBE;
  color: #16131E ;
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-family: Marcellus;
  box-sizing: border-box;
}

.title h1{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    margin-top:10em;
    margin-left: auto;
    margin-right:auto;
    text-align: center;

    /* Stryling the text and giving it gradiant */
    color:#ffffff;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 3;
}

/* @keyframes are css rules set the animation rules, so if we have this here
then on .twinkling we can add an animation property and use these rules for it. */
@keyframes move-twink-back {
    /* start moving from background location of 0 0 */
    from {background-position:0 0;}
    /* to background location of -10000px 5000px */
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling, .smoke {
  margin: 0;
  padding: 0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  margin: 0;
  padding: 0;
  background:#000 url(https://i.ibb.co/hFTn0bn/stars-1.png) repeat top center;
  z-index:0;
}

.twinkling{
  margin: 0;
  padding: 0;
  background:transparent url(https://i.ibb.co/tJQfWFt/twinkling.png) repeat top center;
  z-index:1;
  /* this animation makes the twinkle pic infinitely move from top to bottom
  over .3seconds. If i want it to go faster or slower, change the time */
  animation:move-twink-back 300s linear infinite;
} 

.smoke {
  margin: 0;
  padding: 0;
  background:transparent url(https://i.ibb.co/b7NqqXL/Soft-clouds-of-colorful-smoke-dark-abstract-background.jpg) repeat top center;
  z-index:1;
  opacity: .12;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 