#login_form {
    background:  url(https://i.ibb.co/b7NqqXL/Soft-clouds-of-colorful-smoke-dark-abstract-background.jpg) repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: fit-content;
    width: 500px;
    padding: 1px;
    border-radius: 7px;
}

#login_header__div {
    width: 100%;
}

#login_header {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.login_label {
    font-size: 1.5rem;
    color: white;
}

#login_content__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    position: relative;
    z-index: 1;
    border-radius: 7px;
}

#login_inputs__container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_input__div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#login_buttons__div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.login_input {
    margin-left: 5px;
}

.login_btns {
    margin: 20px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    background-color: #050424    ;
    box-shadow: 0.0625rem 0.0625rem 0.325rem -2px #161385;
    color: white;
    font-size: 2rem;
}

#login_errors {
    width: fit-content;
    height: 100%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.error {
    color: red;
}

.login_organize_div {
    width: 100%;
    display: flex;
}